:host {
		background-color: #e55253 !important;
		cursor: default;
}

.black {
	color: black;
}

.red {
	color: #e55253;
}



:host {
	font-size: 26px;
	font-weight: 200;
	display: block;
	padding: 2% 4% 2% 4%;
	border-bottom: 1px solid #db4f4f;

}



span.artist-title {
	color: white;
	white-space: normal;
	font-size: 0.75em;
	display: block;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
  	line-height: 80%;
  		font-weight: 400;


	}


span.plays {
		color: black;
	}





:host([active]) {
	background-color: white !important;
	padding-top: 2%;
	padding-bottom: 2%;

	}


:host([active]) span.artist-title {
	color: black;
	font-size: 0.85em;
	font-weight: 600;
	white-space: normal;
	line-height: 90%;

    }

:host([active]) span.plays {
	color: #e55253;
	}




