

.black {
	color: black;
}

.red {
	color: #e55253;
}



:host {
	font-size: 18px;
	font-weight: 200;
	display: block;
	padding: 2% 4% 2% 4%;
	border-bottom: 1px solid #db4f4f;
	width: 100%;

}



.title {
	color: white;
	white-space: normal;
	display: block;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
  	line-height: 100%;
  	font-weight: 400;
  	width: 80%;
	}


.artist {
	color: black;
	display: block;
	font-weight: 400;
	  	width: 80%;
}

.plays {
	color: #A63B3C;
  	font-weight: 400;
	display: block;
/*	opacity: 0.5;
*/		font-size: 14px;
			font-weight: 600;


	}





:host([active]) {
	background-color: white !important;
	padding-top: 2%;
	padding-bottom: 2%;

	}


:host([active]) .title {
	color: black;
	font-size: 30px;
		display: block;

	font-weight: 600;
	white-space: normal;
	line-height: 90%;

    }

:host([active]) .plays {
	color: #e55253;
	opacity: 1;

	}



:host([active]) .artist {
	color: #e55253;
	display: block;
	font-size: 30px;
	font-weight: 600;
	white-space: normal;
	line-height: 90%;
	}


.listenicon {
	margin: 0px 20px 0px 2px;
}

.breed {
	width: 100%;
}

