

.black {
	color: black;
}

.red {
	color: #e55253;
}



:host {
	font-size: 26px;
	font-weight: 200;
	display: block;
	padding: 2% 4% 2% 4%;
	border-bottom: 1px solid #db4f4f;

}



.title {
	color: white;
	white-space: normal;
	font-size: 0.75em;
	display: block;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
  	line-height: 100%;
  	font-weight: 400;

	}


.artist {
		color: black;
			display: block;

			font-size: 0.75em;
			  	font-weight: 400;

}

.plays {
	color: white;
  	font-weight: 400;
	font-size: 0.6em;
	display: block;
	margin-left: 10px;
	opacity: 0.5;
	}





:host([active]) {
	background-color: white !important;
	padding-top: 2%;
	padding-bottom: 2%;

	}


:host([active]) .title {
	color: black;
	font-size: 0.85em;
	font-weight: 600;
	white-space: normal;
	line-height: 90%;

    }

:host([active]) .artist {
	color: #e55253;
	}



:host([active]) .artist {
		color: #e55253;
  	font-weight: 400;
	font-size: 0.6em;
	display: block;
	margin-left: 10px;
	opacity: 0.5;
	}


.listenicon {
	width: 15px;
	height: 15px;
	margin: 0px 0px -2px 2px;
/*	background-color: black;
*/}

