:host {
  display: block;
  background-color: white !important;
  height: 100%;
}

h1 {padding: 0px 0px 0px 10px;}

p {
	padding: 10px;
}

core-field {
	margin: 10px;
}
paper-checkbox {
      padding: 20px 20px 20px 0;
}

.white {
	color: white;
}
